.nestedTable {
  thead {
    pointer-events: none;
  }
  :global(.mantine-ScrollArea-viewport) {
    max-height: 300px;
  }
}
.expandIcon {
  transition: transform 0.2s ease;
}
.expandIconRotated {
  transform: rotate(90deg);
}
.nestedBody {
  background-color: var(--mantine-color-gray-0);
  padding: 10px;
}
