/*
 * SPDX-FileCopyrightText: LXCat team
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.list {
  border-style: solid;
  border-width: thin;
  border-radius: var(--mantine-radius-md);
  border-color: var(--mantine-color-gray-4);
  padding: var(--mantine-spacing-xs);
}
