# SPDX-FileCopyrightText: LXCat team
#
# SPDX-License-Identifier: AGPL-3.0-or-later

version: 2

updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
    versioning-strategy: increase
    labels:
      - "dependencies: node"
    open-pull-requests-limit: 20

  - package-ecosystem: cargo
    directory: /packages/converter
    schedule:
      interval: daily
    labels:
      - "dependencies: rust"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    labels:
      - "dependencies: github actions"
