# SPDX-FileCopyrightText: LXCat team
#
# SPDX-License-Identifier: AGPL-3.0-or-later

app/.env.*local
app/coverage
app/node_modules
app/.next

packages/database/arangodb3
packages/*/coverage
packages/*/target
packages/*/node_modules
packages/*/dist

node_modules
.env.*

.turbo
