# services:
#   - name: arangodb/arangodb:3.7.12
#     alias: db

build-dev:
  image: node:lts-bullseye
  stage: build
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - .npm/
  script:
    - npm ci --cache .npm --prefer-offline
    - npm run build
    - npm run lint
    # TODO Run prettier --check to enforce merge requests are formatted correctly
  # TODO reuse artifacts in workspace specific ci tasks like tests
  # artifacts:
  #   paths:
  #     - node_modules
  #     - schema/dist
  #     - database/dist
  #     - app/.next

# TODO test running `npm run seed seeds/test`

# docker in docker see https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#use-docker-in-docker
build-prod:
  image: docker:20.10.17
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  services:
    - docker:20.10.16-dind
  before_script:
    - apk add --no-cache docker-compose
  script:
    - docker-compose build
