# SPDX-FileCopyrightText: LXCat team
#
# SPDX-License-Identifier: AGPL-3.0-or-later

# Direnv
.envrc
.direnv

# Environment files
.env.development
.env.production

# Turborepo
.turbo

# Node dependencies
node_modules

# Test coverage
**/coverage
**/junit.xml

# Misc
.venv

# Default production directories
db-data
news
