# services:
#   - name: arangodb/arangodb:3.7.12
#     alias: db

build-dev:
  image: node:lts-bullseye
  stage: build
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - .npm/
  script:
    - curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain stable -y
    - source "$HOME/.cargo/env"
    - npm ci --cache .npm --prefer-offline
    - npm run build
    - npm run lint
    # TODO Run prettier --check to enforce merge requests are formatted correctly
  # TODO reuse artifacts in workspace specific ci tasks like tests
  artifacts:
    paths:
      - node_modules
      - schema/dist
      - database/dist
      - converter/dist
  #     - app/.next

test-app:
  stage: test
  dependencies:
    - build-dev
  image: mcr.microsoft.com/playwright:v1.23.0-focal
  # Testcontainers requirements taken from https://www.testcontainers.org/supported_docker_environment/continuous_integration/gitlab_ci/#example-using-dind-docker-in-docker
  services:
    - name: docker:20.10.16-dind
      # explicitly disable tls to avoid docker startup interruption
      command: ["--tls=false"]
  variables:
    # Instruct Testcontainers to use the daemon of DinD.
    DOCKER_HOST: "tcp://docker:2375"
    # Instruct Docker not to start over TLS.
    DOCKER_TLS_CERTDIR: ""
    # Improve performance with overlayfs.
    DOCKER_DRIVER: overlay2
  script:
    - npx playwright install chromium
    - node --version
    - npx ts-node --version
    - which node
    - npm list ts-node
    - PLAYWRIGHT_JUNIT_OUTPUT_NAME=junit.xml npm run test:e2e -w app -- --reporter=junit
    - npm -w app run build-storybook
  artifacts:
    reports:
      junit: app/junit.xml
    paths:
      - app/storybook-static/

# TODO cache ~/.cache/ms-playwright

test-database:
  rules:
    - when: never
  stage: test
  dependencies:
    - build-dev
  image: node:lts-bullseye
  # Testcontainers requirements taken from https://www.testcontainers.org/supported_docker_environment/continuous_integration/gitlab_ci/#example-using-dind-docker-in-docker
  services:
    - name: docker:20.10.16-dind
      # explicitly disable tls to avoid docker startup interruption
      command: ["--tls=false"]
  variables:
    # Instruct Testcontainers to use the daemon of DinD.
    DOCKER_HOST: "tcp://docker:2375"
    # Instruct Docker not to start over TLS.
    DOCKER_TLS_CERTDIR: ""
    # Improve performance with overlayfs.
    DOCKER_DRIVER: overlay2
  script:
    - npm run test -w database -- run --coverage --reporter=default --reporter=junit --outputFile.junit=./junit.xml
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: database/coverage/cobertura-coverage.xml
      junit: database/junit.xml
  coverage: '/All files[^|]*\|[^|]*\s+([\d\.]+)/'

test-schema:
  rules:
    - when: never
  stage: test
  dependencies:
    - build-dev
  image: node:lts-bullseye
  script:
    - npm run test -w schema -- run --coverage --reporter=default --reporter=junit --outputFile.junit=./junit.xml
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: schema/coverage/cobertura-coverage.xml
      junit: schema/junit.xml
  coverage: '/All files[^|]*\|[^|]*\s+([\d\.]+)/'

# docker in docker see https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#use-docker-in-docker
build-prod:
  rules:
    - when: never
  image: docker:20.10.16
  variables:
    DOCKER_TLS_CERTDIR: ""
  services:
    - docker:20.10.16-dind
  before_script:
    - apk add --no-cache docker-compose
  script:
    - touch .env
    - docker-compose build
    # TODO do stuff with build images
