version: "3.9"
services:
  database:
    image: arangodb/arangodb:3.9.1
    env_file: .env
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/arangodb3
  app:
    build:
      context: .
      dockerfile: app/Dockerfile
    env_file: .env
    ports:
      - "127.0.0.1:3000:3000"
    depends_on:
      - database
    environment:
      ARANGO_URL: http://database:8529
    restart: unless-stopped
  setup:
    build:
      context: .
      dockerfile: database/Dockerfile
    command: []
    env_file: .env
    volumes:
      - ./database/seeds:/database/seeds
    depends_on:
      - database
    environment:
      ARANGO_URL: http://database:8529
volumes:
  db-data:
