/*
 * SPDX-FileCopyrightText: LXCat team
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.periodicElement {
    background-color: light-dark(var(--mantine-color-brand-2), var(--mantine-color-brand-6));
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    box-sizing: border-box;
}

.periodicElement:disabled {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-8));
    color: var(--mantine-color-text);
}

.selected {
    background-color: light-dark(var(--mantine-color-green-2), var(--mantine-color-green-9));
}

.topLeft {
    position: absolute;
    top: 0px;
    left: 3px;
    font-size: 8px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
}

.bottom {
    position: absolute;
    bottom: 6px;
    width: 100%;
    font-size: 7px;
}
