/*
 * SPDX-FileCopyrightText: LXCat team
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
.scrollableTable {
    :global(.mantine-ScrollArea-viewport) {
        max-height: 300px;
    }
}

.processTable {
    :global(.mantine-ScrollArea-viewport) {
        max-height: 400px;
    }
}

.smallMargin {
    margin: var(--mantine-spacing-sm);
}

.processCheckbox {
    :global(.mantine-Checkbox-input) {
        &:checked {
            border-color: var(--mantine-color-gray-8);
        }
    }
}
