/*
 * SPDX-FileCopyrightText: LXCat team
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.table {
    :global(.mantine-ScrollArea-viewport) {
        max-height: 400px;
    }
}

.checkbox {
    :global(.mantine-Checkbox-input) {
        &:checked {
            border-color: var(--mantine-color-gray-8);
        }
    }
}

.nested {
  padding: 10px;
  background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-gray-8));
}
