# SPDX-FileCopyrightText: LXCat team
#
# SPDX-License-Identifier: AGPL-3.0-or-later

# Docker
Containerfile
.dockerignore

# Dependencies
node_modules

# Readme
README.md

# Nextjs
.next

# Test coverage
coverage
