/*
 * SPDX-FileCopyrightText: LXCat team
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.icon {
  width: rem(22px);
  height: rem(22px);
}

.dark {
  stroke: var(--mantine-color-blue-6);

  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  stroke: var(--mantine-color-yellow-4);

  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
