.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);
  margin-right: 0px;
  color: var(--mantine-color-black);
  font-size: var(--mantine-fontsize-md);
  &:hover {
    background-color: var(--mantine-color-gray-0);
    color: var(--mantine-color-black);
    text-decoration: none;
  }
}
.link {
  :hover {
    text-decoration: none;
  }
}
.chevron {
  transition: transform 200ms ease;
}
.collapse {
  margin-left: 21px;
  border-left-style: dashed;
  border-left-width: 1px;
  border-left-color: var(--mantine-color-gray-3);
}
