/*
 * SPDX-FileCopyrightText: LXCat team
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.icon {
  color: light-dark(var(--mantine-color-dark-3), var(--mantine-color-gray-5));
}
.name {
  font-family: "Greycliff CF", var(--mantine-font-family);
}

.panelInner {
  margin-top: 60px;
  height: 100%;
}
.panelOverlay {
  margin-top: 60px;
  height: 100%;
  width: 100%;
}
