/*
 * SPDX-FileCopyrightText: LXCat team
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
.nestedTable {
    thead {
        pointer-events: none;
    }

    :global(.mantine-ScrollArea-viewport) {
        max-height: 300px;
    }
}

.expandIcon {
    transition: transform 0.2s ease;
}

.expandIconRotated {
    transform: rotate(90deg);
}

.nestedBody {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-gray-8));
    padding: 10px;
}
